
html{
 font-size: 15px;
}


body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	font-size: 1rem;
	color: black;
}

h1,h2{
	margin: 0;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

.header{
	padding:1.2rem 0;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user{
	display: flex;
}
.user__avatar{
	width: 57px;
	height: 57px;
}

.user__avatar img{
	border-radius: 50%;
}
.user__content{
	padding-left: 10px;
}

.user__name{
	font-size: 1.06rem;
	color: black;
	font-weight:700;
	margin-top: 3px;
}

.user__prof{
	font-size: 0.8rem;
	color: rgba(black,20%);
}
#nav{
	height: 100%;
	display: flex;
	align-items: center;
}

.nav__link{
	font-size: 0.93rem;
	color: black;
	font-weight: 700;
	text-decoration:none;
	text-transform: uppercase;
	padding: 0.66rem 2rem;
}

 .nav__link.btn1 {
 border-bottom:2px solid transparent;
 position: relative;
  left: 0;

}

 .nav__link.btn2 {
 border:2px solid transparent;
}



.btn2:hover{
	border-color: black;
	border-radius: 20px;
	font-size: 1.2rem;
	background: black;
	color:white;

}

.btn1:hover{
	border-color: black;
	font-size: 1.2rem;
}




/*intro*/

.intro{
}

.intro__inner{
	display: flex;
	border-bottom: 1px solid grey;
	padding-top: 50px;
    padding-bottom: 120px;
    position: relative;
}

.intro__content{
	width: 50%;
}

.intro__photo{
	position: absolute;
	bottom: -5px;
	right: 0;
}

.intro__subtitle{
	font-size: 2.13rem;
	color: black;
	font-weight: 200;
}

.intro__title{
	font-size: 3rem;
	font-weight: 700;
	color: black;
	margin-bottom: 5px;
}

.intro__text{
	font-size: 1.2rem;
	color: black;
	margin-bottom: 25px;
}

.social{
margin-bottom: 42px;
display: flex;
}

.social__link{
text-decoration: none;
margin-right: 10px;
transition: transform .2s linear;
}

.social__link:hover{
transform: translateY(-5px);
}


.social__img{
	width: 30px;
	height: 30px;
}

.btn{
	font-size: 1.06rem;
	text-transform: uppercase;
	border: 1px solid grey;
	border-radius: 30px;
	background: none;
	padding: 1rem 1.8rem;
	cursor: pointer;
	min-width: 170px;
	transition: background .2s linear, color .2s linear, box-shadow .2s linear ;
}

.btn + .btn{
	 margin-left: 1rem;
}

.btn:hover{
	background: black;
	color: white;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.social__img1{
	width: 400px;
	height: 400px;
}


.social__img2{
	width: 400px;
	height: 400px;
}

.social__img3{
	width: 57px;
	height: 57px;
}


/*works*/
.works{
	padding:  2.8rem 0;
}

.works__nav{
	display: flex;
	justify-content: center;
}

.works__nav__link{
	margin: 0 1.2rem;
	font-size: .8rem;
	text-decoration: none; 
}



/*porfolio*/
.portfolio{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -2rem;
}

.portfolio__col{
	flex-basis: 33.33333%;
	padding: 2rem;
}

.portfolio__image{
	display: block;
	max-width: 100%;
	height: auto;
}

.porfolio__item{
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	border-radius: 10px;
	overflow: hidden;
}

.porfolio__item:hover{
	box-shadow: 2px 2px 25px rgba(0,0,0,0.5);
}

.porfolio__item-content{
	padding: 0.8rem;
}

.portfolio__item-content__category{
	font-size: 0.8rem;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.portfolio__item-content__title{
	font-size: 1.06rem;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}



/*info*/

.info{
	margin: .8rem 0;
}


.info__content{
	display: flex;
	justify-content: space-between;
}

.info__me h1{
   color: grey;
   font-size: 80px;
   font-weight: 1000;
}

.info__me p{
	font-size: 20px;
}


.info__me li{
	font-size: 20px;
}

.info__me ul{
	padding-bottom: 1rem;
}




/*footer*/

.footer{
	background: black;
	padding: 1.5rem 0;
	margin-top: 2rem;

}

.footer__inner{
	display: flex;
	justify-content: space-between;
}

.nav__footer{
	font-size: 0.6rem;
	color: white;
	font-weight: 700;
	text-decoration:none;
	text-transform: uppercase;
	padding: 0.66rem 1rem;
}




